h1{
  font-size: 60px;
  font-style: italic;
  text-align: center;
  max-width: inherit;
  margin: 0 auto;
  padding-bottom: 5px;
  padding-top: 20px;
  font-family: 'Monda', 'sans-serif';
}

h2{
  font: verdana;
  margin-left: 150px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 30px;
  font-family: 'Khand', sans-serif;
  margin: 15px;
  margin-bottom:0;
  margin:0 auto;
  max-width: 800px;
}

h3{
  font-size: 25px;
  padding-bottom: 20px;
  font-family: 'Khand', sans-serif;
  margin-top:45px;
  font-weight: bolder;
  font-style: normal;
  margin:0 auto;
  padding-top:0;
  max-width: 800px;
}

h4{
  text-align: center;
  font-size: 40px;
  font-family: 'Khand', sans-serif;
  padding-top: 25px;
  margin:0 auto;
  text-decoration: underline;color: #6410e3;
  font-style: oblique;
  font-weight:normal;
  max-width: 800px;
}

p{
  margin-left: 150px;
  font-family: 'Khula', sans-serif;
  margin: 0 auto;
  font-size: 15px;
  font-feature-settings: normal;
  padding-top: 0;
  padding-bottom: 10px;
  max-width: 800px;
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  margin:0 auto;
  height: auto;
  width: auto;
  max-width: 800px;
}

span{
  font-weight: bolder;
  font-weight: 600px;
  font-size: 30px;
  padding-right: 5px;
  color: #6410e3;
  max-width: 800px;
}

.byline{
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 15px;
  font-weight: bold;
  font-variant: small-caps;
  text-decoration:overline;
  font-family: 'Khand', sans-serif;
  color: #6410e3;
  margin: 0 auto;
  text-align: center;
  max-width: 800px;
}

h5{
  text-align: center;
  padding-top: 25px;
  font-size: 13px;
  font-weight: bold;
}

a{
  color: #6410e3;
}

.credit{
  font-size: 13px;
  padding-bottom: 10px;
  margin: 0 auto;

}

.date{
  font-size: 12px;
  margin-top: 0;
  margin-bottom: 25px;
  color: #6410e3;
  text-align: center;
}

.w3-image{
  width: 500px;
  max-width: 500px;
  padding-top: 20px;
  padding-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}
