h1{
  padding: inherit;
  font-size: 65px;
  font-style: italic;
  text-align: center;
  max-width: inherit;
  margin: auto;
  padding-bottom: 5px;
  padding-top: 20px;
  font-family: 'Monda', 'sans-serif';
}

h2{
  font: verdana;
  margin-left: 150px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 35px;
  font-family: 'Khand', sans-serif;
  margin: 15px;
  padding-left: 200px;
  margin-bottom: 2;
}

h3{
  padding-left: 216px;
  font-size: 25px;
  padding-bottom: -100px;
  font-family: 'Khand', sans-serif;
  margin-top:45px;
  font-weight: bolder;
  font-style: normal;
  margin-bottom: 1;

}

h4{
  text-align: center;
  font-size: 45px;
  font-family: 'Khand', sans-serif;
  padding-top: 2px;
  margin:0;
  text-decoration: underline;color: #6410e3;
  font-style: oblique;
  font-weight:lighter;
}

p{
  padding-left: 300px;
  padding-right: 300px;
  font-family: 'Khula', sans-serif;
  margin: auto;
  font-size: 15px;
  font-feature-settings: normal;
  padding-bottom: 5px;
  padding-top: 0;
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  width: 830px;
  border-color: #6410e3;
}

span{
  font-weight: bolder;
  font-weight: 600px;
  font-size: 30px;
  padding-right: 5px;
  color: #6410e3;
}

.byline{
  padding-left: 550px;
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 15px;
  font-weight: bold;
  font-variant: small-caps;
  text-decoration:overline;
  font-family: 'Khand', sans-serif;
  color: #6410e3;
}

h5{
  text-align: center;
  padding-top: 20px;
  font-size: 20px;
  font-weight: bold;
}

a{
  color: #6410e3;
}

.credit{
  font-size: 10px;
  text-align: right;
  padding-right: 195px;
  padding-top: -10;
  padding-bottom: 10px;
}

.date{
  font-size: 12px;
  padding-left: 567px;
  margin-top: 0;
  margin-bottom: 20px;
  color: #6410e3;
}
